.filepond--panel-root {
    background-color: #fff !important;
    border:rgb(105, 105, 105) 2px solid;
}
/* .filepond--list{
    display: flex;
    flex-direction: column;
}
.filepond--item{
    max-width:50%;
} */
[data-drag-state="drag"]{
    width: calc(20% - 0.5em);
    height: calc(20% - 0.5em);
}
.filepond--root:not(.filepond){    
    height:470px !important;
}
@media only screen and (max-width: 760px) {
    .filepond--root:not(.filepond){    
        height:270px !important;
    }
}