.map-container {
  height: 100vh;
  width:100vw;
  right:-20vw;
  position: absolute;
}
@media only screen and (max-width: 1280px) {
  .map-container {
    width:100vw;
    right:0;
  }
}
   
.marker {
  background-color: #4CAF50;
  border: 1px solid blue;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}