/*
 * FilePond Custom Styles
 */

 .filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	background-color: #ffffff !important;
}


[class="filepond--root filepond filepond--hopper"] {
	width:170px;
	margin: 0 auto;
}
